@{
    ViewBag.Title = "Signup Page";
    Layout = "~/Views/Shared/_Landing.cshtml";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HResonance</title>
    <link href="~/Content/Theme/images/favicon.ico" rel="icon" type="image/x-icon" />
    <!--@Styles.Render("~/Content/Theme")
    @Scripts.Render("~/bundles/modernizr")-->
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="/Content/Theme/css/bootstrap-admin-theme.css" rel="stylesheet" />
    <link href="/Content/Theme/css/site.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />

    <script src="/Scripts/modernizr-2.6.2.js"></script>

    <style>
        .group1 {
            margin-right: 10%;
        }

        .group2 {
            margin-left: 10%;
        }

        #menuitems a:hover {
            border-bottom: 2px solid #00accd !important;
        }

        * {
            font-size: 100%;
            font-family: 'Roboto', sans-serif;
        }
    </style>

</head>
<!-- main / large navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div>
                <a class="navbar-brand" style="margin-left:43%;" href="/"><img src="~/Content/Theme/images/HResonance.jpg" width="110" height="60" /></a>
            </div>
            <div class="collapse navbar-collapse bootstrap-admin-navbar-sm" style="width:100%;margin-left:22.5%;margin-top:-4%;">
                <ul style="width:72em" class="nav navbar-nav navbar-right">
                    <li id="menuitems">@Html.ActionLink("Sign Up", "Index", "SignUp")</li>
                    <li id="menuitems">@Html.ActionLink("Survey", "Index", "Survey")</li>
                    <li id="menuitems">@Html.ActionLink("Request Features", "Index", "Features")</li>
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="row" style="margin-top:12%; margin-left:.5%;">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "bootstrap-admin-login-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <h1>Login</h1>
        <div class="form-group">
            <input class="form-control" type="text" name="Username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="Password" placeholder="Password">
        </div>
        <button class="btn btn-lg btn-primary" type="submit">Submit</button>
    }
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            // Setting focus
            $('input[name="Username"]').focus();
            // Setting width of the alert box
            var formWidth = $('.bootstrap-admin-login-form').innerWidth();
            var alertPadding = parseInt($('.alert').css('padding'));
            $('.alert').width(formWidth - 2 * alertPadding);
        });
    </script>
}
